# Turn rewrite engine on
#Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^category/$   RestController.php?view=listcategory [NC,L]
RewriteRule ^addcategory/$   RestController.php?view=addcategory [NC,L]
RewriteRule ^addproduct/$   RestController.php?view=addproduct [NC,L]
RewriteRule ^listproducts/$   RestController.php?view=listproducts [NC,L]
RewriteRule ^createcart/$   RestController.php?view=createcart [NC,L]
RewriteRule ^showcart/$   RestController.php?view=showcart [NC,L]
