.caption {
    display: block;
    width: 100%;
    background: #64e0ef;
    height: 55px;
    padding-left: 10px;
    color: #fff;
    font-size: 20px;
    line-height: 55px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    box-sizing: border-box;
}

body {
    background: #cacaca;
    margin: 0;
    padding: 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

button {
    border: 3px solid #343436;
    background: #343436;
    color: white;
}

.row {
    display: table-row;
}
.header-row {
    background: #8b8b8b;
    color: #fff;
}
.cell {
    display: table-cell;
    padding: 6px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;

}
#category_list, #cart {
    display: table;
    width: 100%;
    background: #fff;
    margin: 0;
    box-sizing: border-box;
}
.primary {
    text-align: left;
}
.total {
	font-weight: bold;
}
.error {
	color: red;
	font-size: 10px;
}
.success {
	color: green;
	font-size: 10px;
}